/* Any styles used by the plugin */
.Plugin {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.GitLabActivityStream {
  padding: 15px;
  position: relative;
}

.GitLabActivityStream-title {
  border-top: 2px solid rgba(0,0,0,0.05);
  font-weight: 300;
  font-size: 20px;
  line-height: 26px;
  margin: 20px 0 10px 0;
  padding-top: 20px;
}

.GitLabActivityStream-dateTime {
  display: block;
  color: rgba(0,0,0,0.4);
  font-weight: 700;
}

.GitLabActivityStream-header {
  background: url("./img/gitlab-logo.png") no-repeat;
  color: rgba(0,0,0,0.5);
  font-weight: 700;
  font-size: 30px;
  padding-left: 93px;
  height: 67px;
  line-height: 67px;
}

.fader {
  background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.4));
  height: 80px;
  position: absolute;
  bottom: 0;
  width: 100%;
}
